{{ block "recipe-form" . }}
<form 
	{{ if .IsNew }}
	hx-post="/recipe" 
	{{ end }}
	{{ if .IsEdit }}
	hx-put="/recipe/{{ .ID }}"
	{{ end }}
	hx-target="#recipes"
	hx-swap="innerHTML" >
	<input 
		type="text" 
		name="name" 
		placeholder="recipe name..." 
		class="{{ if .ErrorName }}input-error{{ end }}"
		value="{{ if .Name }}{{ .Name }}{{ end }}">
	{{ if .ErrorName }}<span class="error-message">{{ .ErrorName }}</span>{{ end }}
	<textarea 
		type="text" 
		rows="5" 
		name="ingredients" 
		placeholder="ingredients list...&#10 1 cup flour... ext"
		class="{{ if .ErrorIngredients }}input-error{{ end }}"
	>{{ if .Ingredients }}{{ .Ingredients }}{{ end }}</textarea>
	{{ if .ErrorIngredients }}<span class="error-message">{{ .ErrorIngredients }}</span>{{ end }}
	<textarea 
		name="steps" 
		rows="5" 
		placeholder="recipe instructions here..."
	>{{ if .Steps }}{{ .Steps }}{{ end }}</textarea>
	{{ if .ErrorSteps }}<span class="error-message"
	>{{ .ErrorSteps }}</span>{{ end }}
	<textarea 
		name="notes" 
		rows="5" 
		placeholder="notes on the recipe here..."
	>{{ if .Notes }}{{ .Notes }}{{ end }}</textarea>
	{{ if .ErrorNotes }}<span class="error-message">{{ .ErrorNotes }}</span>{{ end }}
	<div style="display: grid; margin: 0 auto; grid-template-columns: 1fr 1fr;">
		{{ if .IsNew }}
			{{ template "new-recipe-form-button" . }}
		{{ end }}
		{{ if .IsEdit }}
			{{ template "edit-recipe-form-button" . }}
		{{ end }}
		<button hx-get="/main" 
			hx-target="#main-page"
			hx-swap="innerHTML" 
			style="margin: 0 auto;">
			cancel
		</button>
	</div>
</form>
{{ end }}

{{ block "new-recipe-form-button" . }}
<button class="btn-primary" 
	type="submit" 
	style="margin: 0 auto;">add recipe
</button>
{{ end }}

{{ block "edit-recipe-form-button" . }}
<button class="btn-primary" 
	type="submit" 
	style="margin: 0 auto;">edit recipe
</button>
{{ end }}
