{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"></script>
		<title>necronomnomicon</title>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body style="justify-content: center; align-items: center; margin: 0 auto;">
		{{ template "nav-bar" . }}
		<div id="main-page" class="container">
			{{ template "main-page" . }}
		</div>
	</body>
	<footer>
		<p>2025 necronomnomicon</p>
	</footer>
</html>
{{ end }}
